$basicFontColor:rgb(255, 255, 255);
$backGroundColor:rgb(17, 17, 17);
$windColor:rgb(20, 255, 0);
$mainTempColor:rgb(250, 255, 0);

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
  color: $basicFontColor;
}

a:visited{
  text-decoration: none;
  color: $basicFontColor;
}

a:hover{
  text-decoration: none;
  color: $basicFontColor;
}

body{
  background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.25) 200%);
  background-blend-mode: multiply;
  color: $basicFontColor;
  font-family: 'Big Shoulders Display', cursive;
}

header{
  text-align: center;
  color: $basicFontColor;
  font-size: 40px;
  font-family: 'Righteous', cursive;
  padding:8px 0px 0px 0px;
}

footer{
  font-size: 24px;
  text-align: right;
  margin: 8px 16px;
}

.svgColor{
  fill:$basicFontColor;
  width: 100%;
  height: 100%;
}

.weekCard__iconAreaWeek .svgColor{
  fill:$basicFontColor;
  height: 48px;
}

.wCard{
  position: relative;
  font-size: 64px;
  height: 440px;
  background: $backGroundColor;
  text-align: center;
  margin: 16px 0px;
  &__date{
    font-size: 48px;
    padding: 16px 0px 0px 0px;
    display: flex;
    justify-content: center;
  }
  &__timing-now{
    text-align: center;
    padding: 0px 8px;
    background: red;
    border-radius: 4px;
    margin-right: 8px;
  }
  &__wMain{
    position: relative;
    height: 50%;
  }
  &__wInfo{
    font-size: 40px;
    font-family: 'M PLUS 1p', cursive;
    margin: -16px 0px 16px 0px;
  }
  &__iconArea{
    height: 200px;
    width: 200px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
}

.subInfo{
  display: flex;
  justify-content: space-around;
  font-size: 48px;
  &__windItem{
    display: flex;
    justify-content: center;
    align-items: center;
    color: $windColor;
  }
  &__windText{
    width: 87px;
  }
  &__mainTemp{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__mainTemp--temp{
    color: $mainTempColor;
    width:50px;
    margin-right: 8px;
  }
}

.subInfo__mainTemp .svgColor {
  fill: $mainTempColor;
  width: 35px;
}

.subInfo__windItem .svgColor {
  fill: $windColor;
  width: 50px;
}

.weekCard{
  position: relative;
  font-size: 64px;
  height: 95%;
  background: $backGroundColor;
  text-align: center;
  margin: 16px 0px;
  &__weekDate{
    position: relative;
    font-size: 40px;
    padding: 8px 0px 8px 0px;
    display: flex;
    justify-content: space-around;
    margin: 0 16px;
    align-items:center;
  }
  &__timing--week{
    text-align: center;
    width: 20%;
  }
  &__date{
    width: 20%;
  }
  &__iconAreaWeek{
    height: 48px;
    width: 20%;
  }
  &__tempMax{
    color: rgb(255, 155, 0);
    width: 20%;
  }
  &__tempMin{
    color: rgb(0, 255, 230);
    width: 20%;
  }
}

.hourCard{
  display: flex;
  justify-content: space-around;
  font-size: 40px;
  background: $backGroundColor;
  &__timing--hour{
    text-align: center;
  }
  &__iconAreaHour{
    height: 50px;
    width: 50px;
  }
}

