* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: white;
}

a:visited {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: none;
  color: white;
}

body {
  background: -webkit-gradient(linear, left top, left bottom, from(#323232), color-stop(40%, #3F3F3F), color-stop(150%, #1C1C1C)), -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0.4)), color-stop(200%, rgba(0, 0, 0, 0.25)));
  background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255, 255, 255, 0.4) 0%, rgba(0, 0, 0, 0.25) 200%);
  background-blend-mode: multiply;
  color: white;
  font-family: 'Big Shoulders Display', cursive;
}

header {
  text-align: center;
  color: #FFF;
  font-size: 40px;
  font-family: 'Righteous', cursive;
  padding: 8px 0px 0px 0px;
}

footer {
  font-size: 24px;
  text-align: right;
  margin: 8px 16px;
}

.svgColor {
  fill: white;
  width: 100%;
  height: 100%;
}

.wCard {
  position: relative;
  font-size: 64px;
  height: 440px;
  background: #111;
  text-align: center;
  margin: 16px 0px;
}

.wCard__date {
  font-size: 48px;
  padding: 16px 0px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wCard__timing-now {
  text-align: center;
  padding: 0px 8px;
  background: red;
  border-radius: 4px;
  margin-right: 8px;
}

.wCard__wMain {
  position: relative;
  height: 50%;
}

.wCard__wInfo {
  font-size: 40px;
  font-family: 'M PLUS 1p', cursive;
  margin: -16px 0px 16px 0px;
}

.wCard__iconArea {
  height: 200px;
  width: 200px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.subInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 48px;
}

.subInfo__windItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #14ff00;
}

.subInfo__windText {
  width: 87px;
}

.subInfo__mainTemp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subInfo__mainTemp--temp {
  color: #faff00;
  width: 50px;
  margin-right: 8px;
}

.subInfo__mainTemp .svgColor {
  fill: #faff00;
  width: 35px;
}

.subInfo__windItem .svgColor {
  fill: #14ff00;
  width: 50px;
}

.weekCard {
  position: relative;
  font-size: 64px;
  height: 95%;
  background: #111;
  text-align: center;
  margin: 16px 0px;
}

.weekCard__weekDate {
  position: relative;
  font-size: 40px;
  padding: 16px 0px 16px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0 16px;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.weekCard__timing-week {
  text-align: center;
  padding: 8px;
}

.weekCard__date {
  font-style: 40px;
}

.weekCard__iconAreaWeek {
  height: 50px;
  width: 50px;
}

.weekCard__tempMax {
  color: #ff9b00;
  font-size: 40px;
}

.weekCard__tempMin {
  color: #00ffe6;
  font-size: 32px;
}

.weekCard__iconAreaWeek div div:nth-child(1) {
  position: absolute;
  top: 22px;
}
/*# sourceMappingURL=style.css.map */